#accordion-main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    column-gap: 20px;
}

.accordion-text-box{
    text-align: center;
    margin-top: 20px;
}


.accordion-box-text-1{
    height: 85px;
    text-align: left;
     font-size: 16px;
     padding-top: 10px;
     padding-left: 10px;
}
.accordion-box-text-2{
    text-align: end;
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    padding-right: 10px;
}
.acco-text-head{
    background-color: whitesmoke;
    padding: 10px;
    text-align: start;
}