

#wrapper-section-container {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin:10px 0px ;
}

.asidebar {
    width: 15%;
}

#section-main-contentbox {
    width: 70%;
}

.text-section {
    /* Empty */
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#text-box1 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px 0px;
    width: 100%;
}

#text-box1 h1 {
    font-size: 45px;
    color: #0029FF;
}

#text-box1 button {
    font-size: 16px;
    width: 100%;
    max-width: 150px;
    height: 45px;
    border-radius: 10px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: #0029FF;  
}

#text-box2 {
    background-color: #E9ECEF;
    padding: 20px;
    margin: 50px 0px;
    width: 100%;


}

#text-box2 h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

#text-box2 p {
    font-size: 18px;
}

#Stucure-container {
    padding: 20px;
}

.myinput-1 {
    border: none;
    box-shadow: 0px 0px 3px 0px;
}

.section-flex {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    flex-wrap: nowrap;
    flex-direction: row;
}

.container-min-box {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 500px;
    min-width: 320px;
    height: 640px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px;
    margin: 30px 0px;
}

#main-content-box {
    width: 100%;
}

#content-nav {
    width: 100%;
}

.container-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    text-align: center;
    align-items: center;
    padding: 20px;
    color: white;
}
.container-navbar::after{
    content: "\2139";
    width: 35px;
    color:black;
    background-color:white;
    line-height: 30px;
    font-size: 22px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
}

.container-navbar h2 {
    width: 100%;
    font-size: 22px;
}

.container-navbar button {
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-bottom: 8px;
    border-radius: 50%;
    cursor: pointer;
}

ul {
    width: 100%;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

li {
    width: auto;
    padding: 10px;
    font-weight: 300;
    color: gray;
    text-align: center;
    cursor: pointer;
    list-style: none;
}

.li-bottom {
    padding-top: 15px;
    padding-bottom: 5px;
}

#content-nav #content-nav-top #content-nav-bottom {
    width: 100%;
}

#content-nav-top {
    /* Empty */
}

#content-nav {
    box-shadow: 0px 0px 4px 0px;
    margin-top: 20px;
}

.parabox {
    height: 85px;
    text-align:left;
    line-height: 25px;
    padding: 20px 10px;
    font-size: 16.6px;
}

#frame {
    width: 100%;
    height: 350px;
    padding: 20px;
}

iframe {
    width: 100%;
    height: 100%;
}

label {
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0px;
}

input[type="text"] {
    height: 40px;
    width: 100%;
    font-size: 18px;
    padding-left:10px ;
    margin: 10px 0px;
    text-transform: capitalize;
    border: none;
}

textarea {
    width: 100%;
    height: 160px;
    border: none;
    outline: none;
    font-size: 22px;
    resize: none;
    text-transform: capitalize;
}

.image-i {
    height: 20px;
    display: block;
    position: relative;
    margin-top: 5px;
}

@media (max-width: 1568px) {
    .section-flex {
        justify-content: center;
        align-items: center;
        row-gap: 40px;
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    ul {
        grid-template-columns: repeat(4, 1fr);
        padding: 0;
    }
    .for-last {
        display: none;
    }
    #wrapper-section-container {
        padding: 20px;
    }
}

.asidebar {
    z-index: 1;
}
@media(max-width:768px){
    .asidebar{
        display: none;
    }
    #section-main-contentbox {
width: 100%;
    }
#text-box1 button{
display: block;
margin-top: 30px;
}
    
}

#asidebar-container-main {
    width:fit-content;
    width: 100px;
    height: 800px;
    box-shadow: 0px 0px 4px 0px;
    background-color: whitesmoke;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 0.0001em;
    text-indent: -9999px;
}
#asidebar-container-main:hover{
    width: 485px;
    text-indent: 1px;

}

.aside-text-box1 {
    background-color: black;
    color: white;
    font-family: sans-serif;
    font-size: 22px;
    height: 80px;
    line-height: 80px;
    padding-left: 20px;
    border-top-right-radius: 20px;
}

.aside-text-box2 {
    border-bottom-right-radius: 20px;
}

#first-ul {
    width: 100%;
    display: inline;
}

.first-li {
    width: 100%;
    list-style: circle;
    text-align: left;
    font-size: 18px;
    color: black;
}
#aside-right-contanier{
    display: flex;
    justify-content:end;
    flex-direction: row;
    width: 100%;
    height: 400px;
}

.inner-box2{
background-color:whitesmoke;
width: 0%;
max-width: 220px;
border: 1px solid transparent;

}
.inner-box2:hover{
    width: 100%;
}

.inner-box1 {
    display: flex;
    align-items: center;
    width: 100%;
    max-width:60px;
    writing-mode:vertical-rl;
    text-orientation: upright;
    white-space: nowrap;
    background-color: black;
    color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size:15px;
}
.inner-box1 h2{
    margin-top: 15px;
}
.inner-box1::before{
    content: "\0078";
    color:white;
    margin-top: 5px;
    font-size: 50px;
}

#footer-container {
    width: 100%;
}

.footer-box {
    width: 100%;
    justify-content: end;
    display: flex;
    padding-right: 20px;
}

.footer-box img {
    width: 75px;
    height: 75px;
    background-color: #0029FF;
    border-radius: 50%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#schedule {
    margin-left: 10px;
}

#threadbuild-main-container {
    width: 100%;
    padding: 20px;
}

.thread-bulid-contaier {
    border-radius: 20px;
}

.threadbuild-sub-main-wrapper {
    display: flex;
    justify-content: space-between;
}

.theardbuild-sub-container {
    border-radius: 20px;
    background-color: whitesmoke;
    width: 250px;
    display: flex;
    border: 1px solid whitesmoke;
    flex-direction: column;
    flex-wrap: nowrap;
}

.sub-thread-inner-1 {
    font-size: 17px;
    font-weight: bold;
    padding: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: none;
}

.sub-thread-text {
    padding: 10px;
    height: 80px;
    font-size: 14px;
    border-radius: 20px;
}

.thread-bulid-contaier-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.icon-box-container {
    width: 100%;
}

.select-button-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.icon-box-container ul {
    width: 100%;
    display: flex;
    justify-content: end;
}

.icon-box-container ul li {
    float: right;
}

.thread-bulid-contaier-2 {
    margin-top: 30px;
}

.summary-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 20px;
    border: 1px solid whitesmoke;
}

.thread-bulid-contaier-3 {
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 10px;
}

.sub-thread-2 {
    border-radius: 20px;
    padding: 20px;
    font-size: 14px;
}

select {
    font-size: 14px;
    height: 50px;
    width: 100%;
    font-weight: bold;
    padding: 10px;
    border: none;
    outline: none;
}

option {
}

/* Media query for footer section */
@media (max-width:1068px){
    #footer-container{
        display: flex;
        flex-wrap:nowrap;
    }
    .footer-box{
        justify-content:center ;
    }
}