#wrapper-section-container{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    border: 5px solid green;
}
.asidebar{
    border: 1px solid red;
    width:10%;


}
#section-main-contentbox{
    width: 80%;


}
.section{
    width: 100%;
    border: 1px solid red;
    padding: 15px;
}
.text-section{
}
#text-box1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px;

}
#text-box1 h1{
    font-size: 45px;
    color:#0029FF;;
}
#text-box1 button{
    font-size:18px;
    padding: 20px;
    border-radius: 10px;
    font-weight:bold;
    border: none;
    color: white;
    background-color:#0029FF;;
}

#text-box2{
    background-color:  #E9ECEF;
    padding: 20px;
}
#text-box2 h4{
    font-size:35px;
    margin-bottom: 10px;
}
#text-box2 p{
    font-size: 25px;
}


.section-flex{
    display: flex;
    justify-content:space-between;
    column-gap: 20px;
    flex-wrap: nowrap;
    flex-direction: row;
}
.container-min-box{
    display: flex;
    flex-direction:column;
    flex-wrap: nowrap;
    width: 100%;
    max-width: 600px;
    height: 740px;
    border-radius:20px;
    box-shadow:0px 0px 5px 0px;
}
.container-navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
text-align: center;
align-items: center;
    padding: 20px;
    color: white;
}
.container-navbar h2{
    width: 100%;
}
.container-navbar button{
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding-bottom: 8px;
    border-radius: 50%;
    cursor: pointer;
}
ul{
    width: 100%;
    background-color: whitesmoke;
    display:grid;
    grid-template-columns: repeat(8,1fr);
}

li{
    width: auto;
    padding: 10px;
    font-weight: 300;
    color: gray;
    text-align: center;
    cursor: pointer;

}
.li-bottom{
    padding-top: 15px;
    padding-bottom: 5px;
}
#content-nav #content-nav-top #content-nav-bottom{

    width: 100%;
}
#content-nav{
    box-shadow:0px 0px 4px 0px;
}
#content-nav{
    margin-top: 20px;
}
.parabox{
    padding: 30px 20px;
    font-size: 20px;
    line-height: 25px;
}
#frame{
    width: 100%;
    height: 400px;
    padding: 20px;
}
iframe{
    width: 100%;
    height: 100%;
}
label{
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0px 30px 0px;

}

input{
    width: 100%;
}
input[type="text"]{
    border: 1px solid black;
    padding: 20px;
    margin: 20px 0px 30px 0px;
}
input[type="textarea"]{
    height: 25vh;
    outline: none;
    border: none;
    font-size:24px;

}
.image-i{
    height: 20px;
    display: block;
    position: relative;
    margin-top:5px;
}

/* Media query fo the boxes is Here */
@media (max-width:1568){
    
}